<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tabla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

  <ion-item>
    <ion-label position="floating">Inserte Numero</ion-label>
    <ion-input [(ngModel)]="numero" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="success" (click)="generar()" expand="block">Resolver</ion-button>
  </ion-item>

</ion-list>
  
  <ion-list *ngIf="numero > 0">
    <ion-item *ngFor="let num of tabla">
      {{numero}} x {{num}} = {{numero * num}}
    </ion-item>
  </ion-list>

</ion-content>
